
@font-face {
  font-family: "Bello-Pro";
  src: url("../fonts/BelloPro.woff") format("woff"), /* Modern Browsers */
       url("../fonts/BelloPro.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'pier_sansbold';
  src: url('../fonts/piersans-bold-webfont.woff2') format('woff2'),
       url('../fonts/piersans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'pier_sansbold_italic';
  src: url('../fonts/piersans-bolditalic-webfont.woff2') format('woff2'),
       url('..fonts/piersans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'pier_sansitalic';
  src: url('../fonts/piersans-italic-webfont.woff2') format('woff2'),
       url('../fonts/piersans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'pier_sansregular';
  src: url('../fonts/piersans-regular-webfont.woff2') format('woff2'),
       url('../fonts/piersans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}