// Layout
$maxWidth: 1200px;
$bpMedium: 768px;
$bpLarge : 992px;
$marge   : 15px;

// Typos
$fontDefault: 'pier_sansregular', 'Trebuchet MS', sans-serif;
$fontTitle: "Bello-Pro", $fontDefault;

// Colors
$bleu  : #2e4c9c;
$orange: #ed863e;
$rose  : #c0398d;

$orange60: #f4b68b;
$orange20: #fbe7db;
     
$primary: $bleu;

// $linkColor: $color;