// Layout
$maxWidth: 1200px;
$bpMedium: 768px;
$bpLarge: 992px;
$marge: 15px;

// Typos
$fontDefault: 'Trebuchet MS', sans-serif;
$fontTitle: 'Raleway', $fontDefault;

// Colors
// $color1:            
// $color2:       
// $color3:           
// $color4:     
// $color5:     

// $linkColor: $color;